force-app/main/default/flows/Order_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkStatus</name>
        <label>Check Status</label>
        <locationX>409</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStatusEvaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>requestPriceScreen</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
        <rules>
            <name>isStatusNotEvaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>successScreen</targetReference>
            </connector>
            <label>NOT Evaluation</label>
        </rules>
    </decisions>
    <formulas>
        <name>currencyPrice</name>
        <dataType>Currency</dataType>
        <expression>{!numberPrice}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>numberPrice</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!price})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OrderVehicleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getVehicle</name>
        <label>Get vehicle</label>
        <locationX>250</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vehicle.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Owner__c</assignToReference>
            <field>Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Price__c</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicle.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateVehicle</name>
        <label>Update vehicle</label>
        <locationX>807</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>currencyPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>requestPriceScreen</name>
        <label>Get price quote</label>
        <locationX>628</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showPaymentType</targetReference>
        </connector>
        <fields>
            <name>getPriceButton</name>
            <extensionName>c:FlowNextButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Get Price Quote</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPaymentType</name>
        <label>Select payment type</label>
        <locationX>807</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateVehicle</targetReference>
        </connector>
        <fields>
            <name>displayPrice</name>
            <fieldText>&lt;p&gt;Price Quote: {!currencyPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nextButton</name>
            <extensionName>c:FlowNextButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Generate Order</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>219</locationX>
        <locationY>473</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showPrice2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sale Price: {!currencyPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>orderFinishedText</name>
            <fieldText>&lt;p&gt;Order generated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getVehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>417</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <flowName>Price_Quote</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>price</assignToReference>
            <name>price</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
